@import "imports"

html
  background: brand-color

html, body, .container
  clearfix()
  width: total-width

.main
  column(12)

.sort-box
  container()
  margin-top: 10%

.result-box
  column(12)
  padding-top: 10px
  p
    column(6)
    box-sizing: content-box
    padding: 3px
    margin: 0
    text-align: center

.shot-input
  column(6)
  padding: 3px
