.btn
  border: none
  border-radius: 2px
  color: white
  padding: 4px 10px
  &:active
    top: 1px
    rigth: 1px
    position: relative

.btn-send
  background: default-gray
  &:hover
    background:  default-gray * 2%
  &:active
    background: light-gray
    color: default-gray
