$message
  border-style: solid
  border-width: 1px

$alert
  @extend $message
  background: alert
  border-color: alert-border

$success
  @extend $message
  background: success
  border-color: success-border
