// http://codepen.io/shshaw/full/gEiDt
absolute-center(width, height = width)
  margin: auto
  position: absolute
  top: 50%

vertical-align()
  display: inline-block
  vertical-align: middle

block-center()
  display: block
  margin: 0 auto
